<div class="container card", style="width: 30rem;">
<h2>Log in</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field row mb-4">
    <%= f.label :email,  class:'col-sm-2 col-form-label'%><br />
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
    </div>
  </div>

  <div class="field row mb-4">
    <%= f.label :password, class:'col-sm-2 col-form-label' %><br />
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
    </div>
  </div>

  <div class='text-center mb-3'>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class:'btn btn-success' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>


</div>